[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gromet2smtlib = {editable = true, path = "."}
automates = {editable = true, ref = "b596bc7da910c0f814fd702da6128c94bbfae06d", git = "https://github.com/ml4ai/automates.git"}

[dev-packages]
pytest = "==7.1.2"

[requires]
python_version = "3.9"
